@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #00aeff;

}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%; /*Se você deixa ele só com o top e o left em 50% o que vai ficar no meio é a ponta do quadrado e não o quadrado, e como resolver isso? olha pra baixo*/
    transform: translate(-50%, -50%);
    /*Esse negocio faz o ponto central do quadrado não ser a ponta dele e sim o meio dele de verdade.*/

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png');
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}