@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #00aeff;

}

main {
    height: 100vh;
    position: relative;
    background-color: blue;
}

section#telefone {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: bisque;
}